<!-- 初期位置の設定とJS呼び出し -->
<input type="hidden" id="initlat" value="<%= current_user.default_map_position(current_user.prefecture)[:lat] %>">
<input type="hidden" id="initlng" value="<%= current_user.default_map_position(current_user.prefecture)[:lng] %>">
<%= javascript_pack_tag 'maps_index', 'data-turbolinks-track': 'reload' %>

<h2>スポット一覧</h2>
<div id="map"></div>
