<%= javascript_pack_tag 'maps_index', 'data-turbolinks-track': 'reload' %>

<h2>スポット一覧</h2>
<div id="map"></div>

<p>テスト用</p>
<% @posts.each do |post| %>
  <h4><%= post.title %></h4>
  <p><%= post.body %></p>
<% end %>