<%= javascript_pack_tag 'map_test', 'data-turbolinks-track': 'reload' %>

<h2>Map Test</h2>
<div id="map"></div>

<!-- jsにIDを渡す divにはvalueがないためhidden fieldを使用 -->
<!-- input type="hidden" id="map-test-id" value="<!-- @map_test_in_view.id --" -->

<h4><%= @map_test_in_view.title %></h4>
<p><%= @map_test_in_view.body %></p>