<p>Public::Homes#about</p>
<h2>サイトのテーマ</h2>
<p>散歩や自然観察を愛する人のためのSNS</p>

<h2>どんなサイトなの</h2>
<p>
  散歩・サイクリング・バイクのスポットやルートの共有ができるサイトです。<br />
  特にバードウォッチングに焦点を当てたサイトです。<br />
  既存の地図サービスではわからない自然観察ポイント・休憩ポイントなどの情報や、<br />
  地域のカフェや路上販売の情報を共有していきましょう。<br />
</p>

<h2>ターゲットユーザー</h2>
<p>
  散歩をする人<br />
  サイクリングをする人 / バイクに乗る人<br />
  バードウォッチングなど自然観察をする人<br />
</p>

<h2>利用シーン</h2>
<p>
  付近の自然観察や施設の情報を共有・確認するとき<br />
  他の人の散歩コースを見たいとき<br />
</p>

<h2>アカウントを作成する</h2>
<p><%= link_to 'サインアップ', new_user_registration_path %></p>

<h2>試しに使ってみる</h2>
<p>ゲストログイン</p>