<div class="container">
  <div class="row">
    <div class="col-sm-1 col-md-3 d-none d-sm-block">
      <%= render '/public/sidebar' %>
    </div>
    <div class="col-12 col-sm-11 col-md-9">
      <h2>このサイトについて</h2>

      <h4>サイトのテーマ</h4>
      <p>散歩や自然観察を愛する人のためのSNS</p>

      <h4>どんなサイトなの</h4>
      <p>
        散歩・サイクリング・バイクのスポット共有ができるサイトです。<br />
        自然観察、特にバードウォッチングに焦点を当てたサイトです。<br />
        既存の地図サービスではわからない自然観察ポイント・休憩ポイントなどの情報や、<br />
        地域のカフェや路上販売の情報を共有していきましょう。<br />
      </p>
      <!--
        <p>
          散歩・サイクリング・バイクのスポットやルートの共有ができるサイトです。<br />
          自然観察、特にバードウォッチングに焦点を当てたサイトです。<br />
          既存の地図サービスではわからない自然観察ポイント・休憩ポイントなどの情報や、<br />
          地域のカフェや路上販売の情報を共有していきましょう。<br />
        </p>
      -->

      <h4>ターゲットユーザー</h4>
      <p>
        散歩をする人<br />
        サイクリングをする人 / バイクに乗る人<br />
        バードウォッチングなど自然観察をする人<br />
      </p>

      <h4>利用シーン</h4>
      <p>
        付近の自然観察や施設の情報を共有・確認するとき<br />
        他の人の散歩コースを見たいとき<br />
      </p>

      <h4>アカウントを作成する</h4>
      <p><%= link_to 'アカウント作成', new_user_registration_path %></p>

      <h4>試しに使ってみる</h4>
      <p><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %></p>
    </div>
  </div>
</div>
