<p>Public::Homes#top</p>
<h1>お散歩BIRDERへようこそ</h1>
<h4>お散歩BIRDERはお散歩時間を充実させるSNSです☆</h4> <!-- SNSって文言を除けば、びっくりするほど平成初期… -->
<table>
  <tbody>
    <tr>
      <td><%= link_to 'About', about_path %></td>
      <td>このサイトについて</td>
    </tr>
    <tr>
      <td>Guest</td>
      <td>試しに使ってみる</td>
    </tr>
    <tr>
      <td><%= link_to 'Sign up', new_user_registration_path %></td>
      <td>サインアップ</td>
    </tr>
    <tr>
      <td><%= link_to 'Sign in', new_user_session_path %></td>
      <td>サインイン</td>
    </tr>
  </tbody>
</table>
