@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: springgreen;
}

.header-menu{
  list-style: none;
}

main {
  background-image: url("../images/wallpaper.jpg");
}

.top-button {
  width: 50%;
  max-width: 512px;
}

.user-introduction-form {
  width: 80%;
}

.post-image {
  max-width: 90%;
}

.post-title-form {
  width: 60%;
}

.post-body-form {
  width: 80%;
}

.comment-form {
  width: 80%;
}

.user-card-content {
  min-width: 0;
}

/* map(id)の設定は未使用だがFallback値として残しておく */
#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

footer {
  color: white;
  background-color: darkolivegreen;
}

/*
.navbar-link {
  color: rgba(0, 0, 0, 0.9) !important;
  text-decoration: none;
}
*/